/* MISSING 
icon twitter
ghilimele
*/
//fonts
$font-path: "/themes/fundatie/assets/fonts";

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$font-path}/Galano-Grotesque-Black_0.otf");
    font-family: "galano-black";
}

@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$font-path}/Galano-Grotesque-Semi-Bold_0.otf");
    font-family: "galano-semi-bold";
}


@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#{$font-path}/Galano-Grotesque-Light_0.otf");
    font-family: "galano-light";
}
.article-header{
    position: relative;
    width: 100%;
    a.logo{
        position: absolute;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        padding: 1em;
        z-index: 25;
        display: block;
        border-radius: 50%;
    }
  
}
.header-gallery{
    .bottom-header-shadow {
        background-image: url(/themes/fundatie/assets/images/shape_despartitor_bottom.svg);
        background-position: center;
        width: 100%;
        position: relative;
        bottom: 52px;
        height: 29px;
        z-index: 111;
    }
    .top-header-shadow{
        position: absolute;
        z-index: 2;
    }
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}


.article{
    img{
        display: block;
        margin: 0 auto;
        border-radius: 2em;
        max-height: 400px;
        margin-top: 2em;
        margin-bottom: 2em;
        max-width:100%;
    }
    p{
        text-align: justify;
    }
}

iframe{
    color: #80808085;
    font-family: "galano-semi-bold";
    font-size: 1.2em;
    border-radius: 2em;
    margin:0 auto;
    text-align: center;
    display: block;
    margin-top: 2em;
    margin-bottom: 0em;
    max-width:100%;
}

.article-date{
    color: #80808085;
    font-family: "galano-semi-bold";
    font-size: 1.2em;
}

blockquote{
    background-color: white;
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    padding: 1em;
    box-shadow: #0e00802b 0px 0px 20px;
    display: block;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 2em;
    margin-bottom: 2em;
  
    p{
        margin:0;
        padding:0;
        text-align: center !important;
    }
    .author{
        color:$purple;
        font-weight: bold;
        font-size: 0.7em;
        font-family: 'galano-black';
    }
}

blockquote::before{
    font-family: "galano-black"; 
    font-weight: 900; 
    content: '"';
    color:$purple;
    font-size:1em;
}

.social-media-btn{
    width: 75px;
    height: 75px;
    display: block;
}



body {
    font-family:galano-light;
}

h1, h2, h3, h3 {
    font-family:galano-black;
    color: $purple;
}

//Colors
$purple: #6255a4;
$skyblue: #eaf6fb;
$pink:#dc4199;

//Custom components
.btn-doneaza{
    background-color: $pink;
    color:white;
    font-weight:bold;

}

a {
    font-weight: bold;
    color: $pink;
}
