<!DOCTYPE html>
<html>
     <head>
      {% partial 'meta' %}
      {% partial 'styles' %}
    </head>
    {% partial 'header' %}
    {% partial 'navigation' %}
    <body class="bg-light">
        {% partial 'header-section' %}
        {% page %}
        {% partial 'footer' %}
        {% partial 'scripts' %}
        <script>
          $(document).ready(function(){
           $(".owl-carousel").owlCarousel({
             stagePadding:0,
             loop:true,
             responsive : {
               0 : {
                 items:1
               },
               480 : {
                 items: 3
               },

             }
           });
          });
      </script>
  </body>
</html>