<div class="progressbar mt-5">
    <div class="main-layer">
        <div class="done-layer" style="border-radius:2em; width:
        {% if campaign.finalized == false %}
            {{ campaign.getPercentageMoney() }}%;
        {% else %}
            100%;
        {% endif %}">
            <span>some</span>
        </div>
    </div>
    <p class="percent text-center">
    {% if campaign.finalized == false %}
        {{ campaign.getPercentageMoney() }}
    {% else %}
        Finalizat
    {% endif %}
    </p>
</div>
<div class="details row">
    <div class="amount border-right col-6">
        <p class="small-text">Suma stransa</p>
        <p class="big-text">{{campaign.raised_money}} ron</p>
    </div>
    <div class="amount col-6">
        <p class="small-text text-end">Target</p>
        <p class="big-text text-end">{{campaign.target_money}} ron</p>
    </div>
</div>