        <div class="top-bar container-flex">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 d-flex justify-content-center justify-content-md-between ">
                        <span>info@fundatiazurli.ro</span>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                        <span>Luni-Vineri: 08:00 - 17:00</span>
                    </div>
                    <div class="col-md-4 col-sm-6 d-flex  justify-content-center justify-content-md-end">
                        <a href="#" class="pe-3"><img src="{{'/assets/images/fb_icon_small.svg'|theme}}"></a>
                        <a href="#" class="pe-3"><img src="{{'/assets/images/linkedin_icon_small.svg'|theme}}"></a>
                        <a href="#" class="pe-3"><img src="{{'/assets/images/wa_icon_small.svg'|theme}}"></a>
                    </div>
                </div>               
            </div>
        </div>
      
     