<div class="container">
  <div class="row">
    <button 
        class="navbar-toggler text-start align-items-baseline col-6 col-md-9" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="mt-md-2 mt-md-0 btn rounded-pill d-flex btn-doneaza col-6 col-md-3 col-lg-2 align-self-center">
        <img class="inimioara-donatii p-1 ms-2" src="{{'/assets/images/inimioara_donatii.svg'|theme}}">
        <span>doneaza</span>
    </a>
    
    <div class="collapse navbar-collapse mt-2 mb-4 col-md-10" id="navbarNav">
     

        <ul class="navbar-nav mb-2 ps-3 mb-lg-0 col-xs-12 col-lg-4 d-flex justify-content-xs-center justify-content-lg-evenly text-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">despre</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/campanii" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                campanii
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/campanii">Toate campaniile</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
        <div class="col-2"></div>
        <ul class="navbar-nav mb-2 ps-3 mb-lg-0 col-xs-12 col-lg-4 d-flex justify-content-xs-center justify-content-lg-evenly text-center align-items-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">parteneri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">fii ajutor zurli</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
            </li>
        </ul>
    </div>
</div>