<div class="progressbar mt-5">
    <div class="main-layer">
        <div class="done-layer" style="width:25%;">
            <span>some</span>
        </div>
    </div>
    <p class="percent text-center">68%</p>
</div>
<div class="details row">
    <div class="amount border-right col-6">
        <p class="small-text">Suma stransa</p>
        <p class="big-text">28.800 ron</p>
    </div>
    <div class="amount col-6">
        <p class="small-text text-end">Target</p>
        <p class="big-text text-end">55.560 ron</p>
    </div>
</div>