url = "/:category/:slug"
layout = "articol"
title = "blog-post"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "articol"

[photoAlbum]
slug = "zurli"
photoPage = 404
thumbMode = "auto"
thumbWidth = 1200
thumbHeight = 480
photosOnPage = 12
==
{% set post = blogPost.post %}
{% set album = photoAlbum.album %}

<div class="header-gallery container-flex">
    <div class="row">
        <div class="top-header-shadow  bg-white"></div>
        <div class="article-header  d-flex justify-content-center">
            <a class="logo" href="#"><img src="{{'/assets/images/logo_fundatia_zurli.svg'|theme}}" ></a>
        </div>
           
        <div class="owl-carousel">
            {% for photo in album.photos %} 
                <div><img src="{{ photo.thumb }}"></div>
            {% endfor%}
        </div>
        <div class="bottom-header-shadow"></div>
    </div>
</div>
<div class="container">
        <div class="row">
        <div class="col-1">
            {% partial 'social-media' %}
           
        </div>
    
        <div class="col-9">
            <p class="article-date">{{ post.published_at|date('d M Y') }}  {{ post.user.first_name }} {{ post.user.last_name }}       
            <div class="content article">{{ post.content_html|raw }}</div>
            
            {% if post.featured_images.count %}
                <div class="featured-images text-center">
                    {% for image in post.featured_images %}
                        <p>
                            <img
                                data-src="{{ image.filename }}"
                                src="{{ image.path }}"
                                alt="{{ image.description }}"
                                style="max-width: 100%" />
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <p class="info">
                Posted
                {% if post.categories.count %} in
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
   <!-- <div class="container-flex d-flex flex-column justify-content-center">
        <div class="owl-carousel">
             {% for photo in album.photos %} 
                <div><img src="{{ photo.thumb }}"></div>
             {% endfor%}
         </div>
     </div>
    -->
</div>
<script>

</script>