url = "/blog"
layout = "fundatie"
title = "blog"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-post"
postPage = "blog-post"
==
{% set posts = blogPosts.posts %}

<div class="container">
    <div class="row">
        <div class="owl-carousel owl-five">
            {% for post in posts %}
                <div class="item excerpt d-flex flex-column align-items-center">
                   <span> {{ post.published_at|date('M d') }}</span>
                   {% if post.featured_images.count %}
                        <img data-src="{{ post.featured_images[0].filename }}" src="{{  post.featured_images[0].path }}" alt="{{  post.featured_images[0].description }}">
                   {% endif %}
                  <p class="excerpt-text"> <b>{{ post.title }}</b> <br />
                    {{ post.summary|raw }}
                    </p>
                    <a href="{{ post.url }}" class="btn rounded-pill">detalii</a>
                </div>
             {% endfor %}
        </div>
    </div>
</div>
    

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}